a:link {
		font-weight: bold;
		text-decoration: none;
				}
a:hover {
		font-weight: bold;
		color: green;
}
td:hover {
		font-style: italic;
		color: green;
}
.font {
		font-family: monospace;
		font-weight: bold;
}
.center {
		text-align: center;
}
#albumimage {
		width:600px;
		height:600px;
		background-image: url('images/AMoonShapedPool.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: scroll;
		margin: auto;
}
li {
		font-style: italic;
}
td {
		font-style: italic;
}
tbody tr:nth-child(even) {
		background-color: dodgerblue;
}
tbody tr:nth-child(odd) {
		background-color: lightblue;
}