.title {
	font-weight: bold;
	font-size: 200%;
	font-family: monospace;
}
.footer {
	font-size:150%;
	font-weight: bold;
}
.center {
	text-align: center;
}
a {
	color: green;
}
a:link {
	color: green;
}
a:visited {
	color: dodgerblue;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}
li {
	padding: 10px;
}
ul {
	margin: 10px;
}